<template>
    <div class="uk-margin-top">
        <div class="uk-grid">
            <div class="uk-width-1-5@m uk-margin-right">
                <size-picker></size-picker>
                <color-picker></color-picker>
                <image-uploader></image-uploader>
            </div>
            <div class="pl-card uk-width-expand">
                <t-shirt></t-shirt>
            </div>
            <div class="uk-width-1-5@m uk-text-left">
                <save-t-shirt></save-t-shirt>
            </div>
        </div>
    </div>
</template>

<script>
    import SizePicker from "./SizePicker";
    import ColorPicker from "./ColorPicker";
    import ImageUploader from "./ImageUploader";
    import TShirt from "./TShirt";
    import SaveTShirt from "./Save";

    export default {
        components: {
            SizePicker,
            ColorPicker,
            ImageUploader,
            TShirt,
            SaveTShirt,
        },
        props: {}
    }
</script>
