<template>
    <div class="uk-margin-medium-bottom">
        <p class="uk-text-small uk-text-bold uk-text-muted uk-margin-small-bottom">Color</p>

        <div class="color-picker uk-clearfix">
            <span v-for="color in colors" class="color uk-float-left" @click="setColor(color)" :style="{ backgroundColor: color }"></span>
            <span @click="[showCustomColor = !showCustomColor]" class="uk-button uk-button-secondary uk-button-small">Custom</span>
        </div>

        <div v-if="showCustomColor" class="custom-color">
            <chrome-picker v-model="customColor" @input="setCustomColor" />
        </div>
    </div>
</template>

<script>
    var Chrome = require('vue-color/src/components/Chrome.vue');

    export default {
        name: 'color-picker',
        components: {
            'chrome-picker': Chrome,
        },
        data() {
            return {
                showCustomColor: false,
                customColor: [],
                colors: [
                    '#ffffff', // white
                    '#e0e0e0', // grey
                    '#212121', // black
                    '#f44336', // red
                    '#2196f3', // blue
                    '#4caf50', // green
                    '#ffeb3b', // yellow
                    '#ff9800', // orange
                ],
            }
        },
        methods: {
            setCustomColor(value) {
                this.setColor(value.hex);
            },
            setColor(color) {
                this.eventHub.$emit('t-shirt:setColor', {
                    color: color,
                });
                this.customColor = {hex: color};
            },
        },
    }
</script>

<style>
    .color-picker > span {
        margin: 0 8px 8px 0;
    }
    .color-picker > span.color {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
    }
    .custom-color {
        position: absolute;
        margin-top: 10px;
    }
</style>
