<template>
    <div class="uk-margin-medium-bottom">
        <p class="uk-text-small uk-text-bold uk-text-muted uk-margin-small-bottom">Image</p>
        <label>
            <span class="uk-button uk-button-secondary">Upload</span>
            <input type="file" @change="uploadImage">
        </label>
        <div v-if="busy" class="uk-display-block uk-margin-small-top" uk-spinner></div>
        <div class="uk-margin-small-top" v-if="this.images.length > 0">
            <div v-for="imageUrl in images">
                <img class="thumbnail" :src="imageUrl">
                <span class="uk-button uk-button-small uk-button-danger" @click="removeImage(imageUrl)">Remove</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'image-uploader',
        data() {
            return {
                images: [],
                busy: false,
            }
        },
        methods: {
            /**
             * Remove an image from the list and notice the image container.
             * @param url
             */
            removeImage(url) {
                var i;
                this.eventHub.$emit('t-shirt:removeImageFromTShirt', {
                    imageUrl: url,
                });
                for (i = 0; i < this.images.length; i++) {
                    if (this.images[i] === url) {
                        this.images.splice(i, 1);
                    }
                }
            },
            /**
             * Upload the image to our server.
             * @param event
             */
            uploadImage(event) {
                this.busy = true;
                var form = new FormData();
                form.append('file', event.target.files[0]);

                this.$http.post(route('ajax.pod.images.store'), form, {
                    header: {'Content-Type': 'multipart/form-data'}
                }).then((data) => {
                    this.images.push(data.data);
                    this.addImageToTShirt(data.data);
                    this.busy = false;
                });
            },
            /**
             * Event.
             * @param url
             */
            addImageToTShirt(url) {
                this.eventHub.$emit('t-shirt:addImageToTShirt', {
                    imageUrl: url,
                });
            },
        },
        mounted() {

        }
    }
</script>

<style>
    input[type="file"] {
        display: none;
    }

    .thumbnail {
        height: 75px;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 8px 8px 0;
    }
</style>
