<template>
    <div class="images-container">
        <canvas class="canvas" id="c"></canvas>
    </div>
</template>

<script>
    export default {
        name: 'images-container',
        data() {
            return {
                canvas: {},
                images: [],
            }
        },
        methods: {
            /**
             * Notice everyone the images changed.
             */
            updateImagesEvent() {
                this.eventHub.$emit('t-shirt:setImages', this.images);
            },
            /**
             * Add an image to the list and to the container.
             * @param imageUrl
             */
            addImage(imageUrl) {
                new fabric.Image.fromURL(imageUrl, (image) => {

                    // We resize to the max size to improve the UX.
                    image.scaleToWidth(180);

                    this.canvas.add(image);
                    this.images.push({url: imageUrl, image: image});

                    image.on('modified', (e) => {
                        this.updateImagesEvent();
                    });

                    this.updateImagesEvent();
                });
            },
            /**
             * Remove an image from the list.
             * @param imageUrl
             */
            removeImage(imageUrl) {
                var i;
                for (i = 0; i < this.images.length; i++) {
                    if (this.images[i].url === imageUrl) {
                        this.canvas.remove(this.images[i].image);
                        this.images.splice(i, 1);
                    }
                }
            },
            /**
             * Create the canvas container.
             */
            createContainer() {
                this.canvas = new fabric.Canvas('c', {
                    selectionLineWidth: 2,
                    width: 180,
                    height: 300,
                    selection: false,
                });
                this.canvas.on('object:removed', (e) => {
                    this.updateImagesEvent();
                });
            },
        },
        mounted() {
            this.createContainer();
            this.eventHub.$on('t-shirt:addImageToTShirt', (params) => {
                this.addImage(params.imageUrl);
            });
            this.eventHub.$on('t-shirt:removeImageFromTShirt', (params) => {
                this.removeImage(params.imageUrl);
            });
        }
    }
</script>

<style>
    .images-container {
        position: absolute;
        top: 100px;
        left: 175px;
        width: 180px;
        height: 300px;
    }

    .images-container:hover {
        outline: 4px dashed #bbb;
    }

    .canvas {
        width: 180px;
        height: 300px;
    }
</style>
