<template>
    <div class="uk-text-center">
        <span @click="saveTShirt" class="uk-display-block uk-button uk-button-primary">
            Save
        </span>
    </div>
</template>

<script>
    export default {
        name: 't-shirt',
        data() {
            return {
                color: '#fffff',
                size: '',
                images: [],
            }
        },
        methods: {
            saveTShirt() {
			    this.$http.post(route('ajax.pod.tShirt.store'), {
					color: this.color,
					size: this.size,
					images: this.images,
				})
				.then((data) => {
                    window.location = route('pod.tShirt.success');
                });
            }
        },
        mounted() {
            this.eventHub.$on('t-shirt:setColor', (params) => {
                this.color = params.color;
            });
            this.eventHub.$on('t-shirt:setSize', (params) => {
                this.size = params.size;
            });
            this.eventHub.$on('t-shirt:setImages', (images) => {
                this.images = images;
            });
        }
    }
</script>

<style>

</style>
