<template>
    <div class="uk-margin-medium-bottom">
        <p class="uk-text-small uk-text-bold uk-text-muted uk-margin-small-bottom">Size</p>
        <select v-model="size" class="uk-select uk-margin-remove-bottom" @change="setSize(size)">
            <option value="">Select a size</option>
            <option v-for="size in sizes" :value="size">
                {{ size }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        name: 'size-picker',
        data() {
            return {
                size: '',
                sizes: [
                    'XL',
                    'L',
                    'M',
                    'S',
                ]
            }
        },
        methods: {
            setSize(size) {
                this.eventHub.$emit('t-shirt:setSize', {
                    size,
                });
            },
        },
    }
</script>

<style>

</style>