<template>
    <div class="uk-text-center">
        <div class="t-shirt-container">
            <img class="t-shirt" :style="{ backgroundColor: color }" src="/img/pod-t-shirt.png">
            <images-container></images-container>
        </div>
    </div>
</template>

<script>
    import ImagesContainer from "./ImagesContainer";

    export default {
        name: 't-shirt',
        components: {
            ImagesContainer,
        },
        data() {
            return {
                color: '#fffff'
            }
        },
        mounted() {
            this.eventHub.$on('t-shirt:setColor', (params) => {
                this.color = params.color;
            });
        }
    }
</script>

<style>
    .t-shirt-container {
        width: 530px;
        height: 630px;
        margin: 0 auto;
        position: relative;
    }
    .t-shirt {
        -webkit-transition: background-color 250ms linear;
        -ms-transition: background-color 250ms linear;
        transition: background-color 250ms linear;
    }
</style>
